<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text"[(ngModel)]="u.username" placeholder="username" [ngModelOptions]="{standalone: true}">/>
      <input type="password"[(ngModel)]="u.password" placeholder="password" [ngModelOptions]="{standalone: true}">/>
      <input type="text"[(ngModel)]="u.role" placeholder="role" [ngModelOptions]="{standalone: true}">/>
      <button (click)="Login()">login</button>
      <p class="message">Enter as a guest? <a href="#">Anonymous</a></p>
    </form>
  </div>
</div>